# Dependencies
node_modules/
.next/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local .env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
.swc/
.vercel/
out/

# Other
.DS_Store
mcp.json
*.md
PRD.md
developer_context.md 